
<h2>also find our edible cookie dough in...</h2>

<div class="row">
    <div class="col3101">
      
 <div class="location-heading pink toppink" style="margin-bottom:15px;">new york</div>
      <div><h3 style="font-size:34px;margin-bottom:30px;">new york city</h3></div>
     
  
    <div class="_heading top-margin location-name" style="margin-top:10px;"><a class="location-name" href="http://16handles.com" target="_blank">16 handles</a></div>
      <div class="top-margin"><br><a href="http://16handles.com/locations/east-village/" target="_blank">EAST VILLAGE</a><br>
									153 2nd Ave<br>
    								New York, NY 10003</div>
      <div class="top-margin"><br><a href="http://16handles.com/locations/murray-hill/" target="_blank">MURRAY HILL</a><br>
									428 3rd Ave<br>
        							New York, NY 10016 <br></div>
      <div class="top-margin"><br><a href="http://16handles.com/locations/chelsea/" target="_blank">CHELSEA</a><br>
									178 8th Ave<br>
        							New York, NY 10011 <br>	</div>							
     <div class="top-margin"><br><a href="https://locations.16handles.com/16-handles-bcf93322e3af" target="_blank">UPPER WEST SIDE AMSTERDAM</a><br>
									325 Amsterdam Ave.<br>
    								New York, NY 10023 </div>
     <div class="top-margin"><br><a href="https://locations.16handles.com/16-handles-62032c8dd24c" target="_blank">UPPER EAST SIDE 2ND AVE</a><br>
									1569 2nd Ave.<br>
    								New York, NY 10028</div> 
     <div class="top-margin"><br><a href="https://locations.16handles.com/16-handles-b899e176fde4" target="_blank">UPPER WEST SIDE BROADWAY</a><br>
									2600 Broadway<br>
    								New York, NY 10025</div> 
     <div class="top-margin"><br><a href="https://locations.16handles.com/16-handles-5a62569194a9" target="_blank">UPPER EAST SIDE 1ST AVE</a><br>
									1161 1st Ave.<br>
    								New York, NY 10065</div>
       
      </div>
  </div>
<div class="row">
	<div class="col3101">
      
      <div class="location-heading pink toppink" style="margin-bottom:15px;">new york</div>
      <div><h3 style="font-size:34px;margin-bottom:30px;">new york city</h3></div>
      
      
  		<div class="_heading top-margin location-name" style="margin-top:10px;"><a class="location-name" href="https://www.blankslatenyc.com/" target="_blank">blank slate</a></div>
	  	<div class="top-margin"><br>
								    121 Madison Ave<br>
    								New York, NY 10016</div>
    
      <hr>
          <div class="_heading top-margin location-name" style="margin-top:10px;"><a class="location-name" href="https://www.butterfieldnyc.com/" target="_blank">butterfield market</a></div>
      
      <div class="top-margin"><br><a href="https://www.butterfieldnyc.com/locations/" target="_blank">MADISON</a><br>
									1150 Madison Ave.<br>
    								New York, NY 10028</div>
      <div class="top-margin"><br><a href="https://www.butterfieldnyc.com/locations/" target="_blank">LEXINGTON</a><br>
									1114 Lexington Ave.<br>
    								New York, NY 10075</div>
           <hr>
          <div class="_heading top-margin location-name" style="margin-top:10px;"><a class="location-name" href="https://poulettenyc.com/" target="_blank">poulette nyc</a></div>
      
      <div class="top-margin"><br><a href="https://poulettenyc.com/" target="_blank">HELL'S KITCHEN</a><br>
									790 9th Ave.<br>
    								New York, NY 10019</div>
            <div class="top-margin"><br><a href="https://poulettenyc.com/" target="_blank">MIDTOWN EAST</a><br>
									304 E 49th St.<br>
    								New York, NY 10017</div>
        
      <br>
      <br>
      

  </div>
  
  
</div>     
  	
    <div class="col3101">
 
      
      <div class="location-heading pink toppink" style="margin-bottom:15px;">new york</div>
      <div><h3 style="font-size:34px;margin-bottom:30px;">new york city</h3></div>
  
      <div class="_heading top-margin location-name" style="margin-top:10px;"><a class="location-name" href="https://www.thesweetshopnyc.com/" target="_blank">The Sweet Shop NYC</a></div>
      <div class="top-margin"><br>
									404 E 73rd St<br>
    								New York, NY 10021</div>
   <br>
  <br>
  <br>
</div>
 
      
    
      
      
     
    
 
 <div class="location-heading pink toppink" style="margin-bottom:15px;">pennsylvania</div>
     
  
      <div class="_heading top-margin location-name" style="margin-top:10px;"><a class="location-name" href="https://www.whitehorsecoffeecreamery.com/" target="_blank">white horse coffee & creamery</a></div>
      <div class="top-margin"><br>
									700 West Ave.<br>
    								Jenkintown, PA 19046</div>

    							
      
      
      
      
      
 

<div class="availablity" style="margin-top:100px;clear:both;padding-top:80px;">
<center><b><font size="5"> </font></b></center>
&nbsp;


<center>
<style>
.button {
  background-color: #ff007b;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
  font-family: Replica, sans-serif;
  margin: 4px 2px;
  cursor: pointer;
}
</style>
<b><a href="https://www.cookiedonyc.com/pages/wholesale-inquiry" class="button">INQUIRE ABOUT WHOLESALE</a></b>
</center>
  <br>
  <br>
  <em><center>Subject to availability.</em><br /><strong>Individual store hours available on each store's website.</strong>  
  <br />*Hours subject to change on and around holiday dates.</center>

  
  </div>

<style>
  .column2 {
   width: 33%; 
   float:left;
  }
  
  .pink {
    color:#ff007b;
    padding:15px 10px;
    margin-top: 80px;
    margin-bottom:30px;
    font-family:'Better together demo', sans-serif;
    font-size: 40px;
    padding-bottom:15px;
  }
  
  .toppink {
    margin-top: 60px;
  }
  
  ._heading {
    font-weight: 400;
    font-size:28px;
    margin-top:10px;
  }
  
  .top-margin {
    
  }
  
  .col3101 {
    width:33%;
    float:left;
  }
  
  #link {

  }
  
  .location-name {
    font-size: 26px !important;
    margin-bottom:15px;
    margin-top:15px;
  }
  
  #link:hover {
    opacity: .7;
  }
  
  #last {
    margin-bottom:40px;
  }
  
  .location-heading {
    font-size:40px;
    margin-top:25px;
  }
  
  hr {
    margin-top:30px;
    margin-bottom:30px;
  }
  
  @media (max-width:900px) {
    .col3101 {
      width: 100%;
    }
    
    hr {
      width:25%;
    }
    
    .pink {
      margin-top:30px;
      margin-bottom:30px;
    }
    
    .location-heading {
      margin-top:60px;
      margin-bottom:30px;
    }
  }
</style>