<div class="hero-image" {% if section.settings.image != blank %} style="background-image:url('{{section.settings.image | img_url: '2000x' }}');" {% endif %}>
    <div class="div-block-12">
      <h1 class="fancy-hero">
 
           {{ 'customer.register.title' | t }}

      </h1>
    </div>
  </div>

{% schema %}
  {
    "name": "Featured Image",
    "class": "featured-image-section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }
    ],
    "presets": [
      {
        "name": "Featured Image",
        "category": "Image"
      }
    ]
  }
{% endschema %}
