.spacer{
  color:#ff007b;
  background-color:#ff007b;
}
#TOP{
	height: 100vh;
  -moz-transition: all 4s;
    -o-transition: all 4s;
    -webkit-transition: all 4s;
    transition: all 4s;
      
  display:block;
  clear:both;
}
#TOP.hide_top{
opacity: 0 !important;
transform: translateX(0px) translateY(-500px) translateZ(0px) scaleX(1) scaleY(1) scaleZ(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skewX(0deg) skewY(0deg) !important;
will-change: transform, opacity !important;
}
#shopify-section-hero{
	margin-bottom:255px;
  position:relative;
}

html{
	overflow-x:hidden;
  	overflow-y:scroll;
}

#SearchDrawer{
display:none !important;
}

#home .w-slide .hero-link{
	/*background:url(https://cdn.shopify.com/s/files/1/2509/8354/t/1/assets/paper-tag-horizontal.png) no-repeat center left; background-size: cover;
*/
}

#home .w-slide:nth-child(2) .hero-link{
	/*background:url(https://cdn.shopify.com/s/files/1/2509/8354/t/1/assets/Asset-25656.png) no-repeat center left; background-size: cover;
*/
}

.text-columns{
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
  -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
}

.clearfix{
display:block; 
  clear:both;
  width:100%;
}
#shopify-section-class-monthly-schedules .w-col:after,
.div-celebrate.acadomy"after,
.clearfix:after{
	content:"";
  	display:table;
  	clear:both;
}

.insepration-gallery .hidden-collage-div{
	opacity:0;
  	visibility:hidden;
  transition: all 0.7s;
}
.insepration-gallery .collage-div:hover .hidden-collage-div{
	opacity:1;
    visibility:visible;
}

.cart th{
	font-weight:700 !important;
}


.div-celebrate.acadomy{min-height: 272px;}
.article-sharing-social .social-sharing{display:block; text-align:center; margin-bottom: 50px;}
.article-sharing-social .social-sharing a{padding: 0px; display:inline-block; width:24px; margin:0px 5px; background:none; border:0px; }
.article-sharing-social .social-sharing a span{display:none;}
.article-sharing-social .btn--share .icon{
	fill: #000 !important;
}
.faq .faq_seprator{
	border-bottom: 1px solid rgba(0, 0, 0, .15);
    margin-bottom: 20px;
    padding-bottom: 15px;
}

.content-pages p{
	display:block;
   margin-bottom:15px;
}
.content-pages .content-wrapper{
	text-align:left;
}
.gift-card-single-product .product-single__photo{
   position: relative;
   height:300px !important;
   width:100% !important;
  padding:0px !important;
}
.gift-card-single-product .product-single__photo .thumbnail{
	display: block;
    position: absolute;
    top: 2%;
    right: 2%;
    left: 2%;
    bottom: 2%;
    width: 96%;
    height: 96%;
}
.gift-card-single-product .product-single__photo-wrapper{
  max-width:100% !important;
  max-height: inherit !important;
}
.product-single__thumbnail{
	width:94% !important;
}

.single-product{
	padding-top:70px;
}

.mobile-logo{
	float:left;
}
.menu-toggle{
	float:right;
}
.menu-toggle a, .menu-toggle > div{
	display: block;
background: #ff007b;
color: #fff;
opacity: 1;
padding: 5px 15px;
margin-top: 8px;
font-size:25px;
line-height: 22px;
}
.menu-toggle a .fa-close, .menu-toggle > div .fa-close{
	display:none;
}

#mobile-header{
  	position:relative;
  	padding:10px 25px;
  	display:none;
}
#mobile-header:after{
	content:"";
  display:table;
  clear:both;
}

#mobile-navigation{
  padding:0px 25px;
  display:block;
  list-style:none;
  margin:0px;
  position: absolute;
  z-index: 9999;
  background: #fff;
  box-sizing: border-box;
  left: 0px;
  right: 0px;
  top: 65px;
  display:none;
}
#mobile-navigation ul{
	padding: 0px 0px 0px 15px;
  display:block;
   margin:0px;
  list-style:none;
  background: #fefcfc;
}
#mobile-navigation li{
	padding:0px;
  display:block;
   margin:0px;
  list-style:none;
  border-bottom:1px solid #eee;
}
#mobile-navigation li:last-child{
border-bottom:0;
}
#mobile-navigation li a{
  padding:10px 15px;
  margin:0px;
  display:block;
  list-style:none;
  text-transform: capitalize;
  font-weight: 400;
}
#mobile-navigation ul{
	display:none;
}

.have-sub-menu a span{
	float:right;
  	padding-right:25px;
}

.cart-icon{
  position: absolute;
  top: 20px;
  right: 20px;
}
.cart-icon a{

    display: block;
    font-size: 20px;
    color: #ff007b;
    border: 2px solid #ff007b;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 32px;
    text-align: center;
  position:relative;

}
.cart-count{
position: absolute;
width: 25px;
right: 20px !important;
line-height: 23px;
font-size: 12px;
top: -10px;
  text-align: center;
border: 1px solid #ff007b;
border-radius: 50%;
background: #fff;
left: 18px;
}


#mobile-header .cart-icon{right:95px; }

[data-drawer-push] {
    transition: transform 0.45s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.drawer {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100vh;
    transition: transform 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    z-index: 99999;
  	
}
.cart-drawer {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-flex-flow: column;
    -moz-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    width: 100%;
    height: 100%;
    background-color: #fff;
}
.cart-drawer__header {
    padding: 0 40px;
  height: 60px;
  border-bottom: 1px solid #ddd;
}
.cart-drawer__header-container {
    position: relative;
    width: 100%;
    height: 100%;
}
.cart-drawer__close-button {
    position: absolute;
    top: 50%;
    right: -16px;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  	background:none;
}
.btn--square {
    width: 50px;
    height: 50px;
    padding: 0;
    text-align: center;
    line-height: 50px;
}
.cart-drawer__header-title {
    position: absolute;
    top: 50%;
  font-size:18px;
    left: 50%;
    min-width: 215px;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.text-center {
    text-align: center !important;
}
.cart-drawer__content {
    display: block;
    -webkit-flex: 1 100;
    -moz-flex: 1 100;
    -ms-flex: 1 100;
    flex: 1 100;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}
.cart-drawer__content-container {
    overflow: hidden;
    padding: 20px 0px 40px 0;
}
.cart-drawer__empty-text {
    pointer-events: none;
    transition: opacity 0.25s ease-out;
}
.cart-drawer__item {
    position: relative;
    font-size: 1.2rem;
    opacity: 1;
    transition: 0.25s all ease-out;
        transition-delay: 0s;
    -ms-transform: translateX(20%);
    -webkit-transform: translateX(20%);
    transform: translateX(20%);
}
.cart-drawer__item-list {
    padding: 0 40px;
}

.cart-drawer__item-list {
    transition: opacity 0.25s ease-out;
}
.cart-drawer__item:nth-of-type(1) {
    transition-delay: 0.28s;
    -webkit-transition-delay: 0.28s;
}
.drawer--active .cart-drawer__item{
    opacity: 1;
    -ms-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    border: 1px solid #ccc;
  margin-top:20px;
}
.cart-drawer__item-image {
    display: block;
position: absolute;
top: 10px;
left: 6px;
bottom: 7px;
width: 32%;
padding-top: 17%;
border-radius: 0%;
background-size: cover;
background-position: center center;
background-color: #fff;
height: auto;
border: 1px solid #efefef;
}
.cart-drawer__item-content {
   padding-left: 34%;
padding-right: 0px;
padding-bottom: 0px;
position: relative;
margin: 10px;
}
.cart-drawer__item-title {
    margin-bottom: 0;
    display: inline-block;
   font-size: 0.999rem;
    text-decoration: none;
  line-height:1;
  margin-top: 0px;
  font-weight:400;

  background: #fff;
  width: auto;
  display: inline-block;
  right: inherit;
  overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
  max-width: 97%;
  height:inherit;
}
.cart-drawer__item-subtitle {
    margin-bottom: 0;
    letter-spacing: 1px;
  	padding-top:15px;
}
.cart-drawer__item-properties {
    list-style: none;
    padding: 0;
    margin: 0;
}
.cart-drawer__footer {
    min-height: 230px;
    padding: 0 20px;
    border-top: 1px solid #ddd;
    background-color: #fff;
    text-align: center;
    opacity: 1;
    transition: opacity 0.25s ease-out, min-height 0.25s ease-out;
}
.cart-drawer__subtotal {
    display: table;
    width: 100%;
    margin-bottom: 10px;
}
.cart-drawer__subtotal-label {
    display: table-cell;
    width: 50%;
    vertical-align: middle;
    text-align: left;
}
.cart-drawer__subtotal-label span {
    font-size: 1.1rem;
    margin-bottom: 0;
  font-weight:700;
}
.cart-drawer__item-price-container {
    margin-bottom: 0;
    margin-top: 2px;
    letter-spacing: 1px;
  font-size:13px;
  color: #ff007b;
  font-weight:300;
  padding-top: 0px;
}
.cart-drawer__item-price {
    margin-right: 8px;
}
input[type="number"].cart-drawer__item-quantity {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    padding: 5px;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
  border:1px solid #ddd;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
}
.cart-drawer__item-delete {
    position: absolute;
    font-size: 13px;
    top: 45px;
    right: 0;
    margin-left: 20px;
  padding: 0;
  font-weight:700;
color: #000;
  background: none;
}
.drawer--active [data-drawer-push] {
    -ms-transform: translateX(-400px);
    -webkit-transform: translateX(-400px);
    transform: translateX(-400px);
}
.cart-drawer__footer-container {
    padding: 20px 0;
}

.cart-drawer__subtotal-price {
    display: table-cell;
    width: 50%;
    text-align: right;
    font-weight: 700;
    vertical-align: middle;
    letter-spacing: 1px;
}
.cart-drawer__disclaimer {
    margin-bottom: 40px;
border-top: 1px solid #ddd;
font-weight:300 !important;
padding-top: 20px;
text-align:center;
margin-top: 20px;
  font-size: 13px;
}
.cart-drawer__checkout{
    -moz-user-select: "none";
    -ms-user-select: "none";
    -webkit-user-select: "none";
    user-select: "none";
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    position: relative;
    width: auto;
    background-color: #ff007b;
    border-radius: 0;
    color: #fff;
    border: 2px solid #ff007b;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 2px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    padding: 5px 20px;
    line-height: 2.2;
    vertical-align: middle;
    cursor: pointer;
    transition: outline 0.1s linear;
    box-sizing: border-box;
  display: block;
margin: 0 auto 80px;
  width:100%;
}

.drawer--active .drawer-cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #4a4a4a;
    pointer-events: none !important;
    z-index: 9999;
    transition: opacity 0.25s ease-out;
    opacity: 0.3;
    height: 100%;
    pointer-events: auto !important;
}
.cart-drawer__close-button .icon {
    width: 14px;
    fill: #eb4f47;
}

div[data-section-type="cart-template"]{
	padding-bottom:50px;
}

.ajaxified-cart-feedback.success{
	display:none !important;
}

.buildbox-container{ width:90%; display:block; margin:0px auto; position:relative; }
.buildbox-container ul.placeholder{
	display:block;
  	margin:0px;
  	padding:0px;
}
.buildbox-container ul.cart-thumbnail{
	margin:0px;
  	padding:0px;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
}
.buildbox-container ul.cart-thumbnail li{
	list-style:none; float:left; width:46%; padding-top:46%; margin:2%; border:1px solid #ddd;
  position:relative;
  overflow:hidden;
}
.buildbox-container ul.cart-thumbnail li a{
  position: absolute;
  top: -3px;
  left: -2px;
  float: left;
  color: #fff;
  font-size: 20px;
  background: #ff007b;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
}
.buildbox-container ul li{list-style:none; float:left; width:46%; padding-top:46%; margin:2%; border:1px solid #ddd; background:#e7e8ea; }

.div-container:after,
.w-col-6:after,
.buildbox-container:after,
.buildbox-container ul:after,
.content-section:after{
	content:"";
  display:table;
  clear:both;
}

.cart-footer-container{
max-width: 90%;

display: block;

margin: 0px auto;

padding: 0px 2%;
}
#build-a-box-summary{
  text-align: center;

background: #ff007b;

padding: 10px 20px;

line-height: 30px;
margin-bottom: 15px;
display: block;
}
#build-a-box-summary p{
  text-align: center;

margin: 0px;
}
.product-actions-wrapper label{float: left;

position: relative;
font-weight: 700;
margin-right: 10px;

margin-top: 4px; }
.product-actions-wrapper #Quantity{
float: left;

border: 1px solid #ddd;

padding: 10px;

text-align: center;

width: 50px;}
.product-actions-wrapper .btn{
background: #ff007b;
text-transform:capitalize;
width: auto;

display: inline-block;

padding: 10px 15px;
margin-top: 2px;

font-size: 14px;

box-sizing: border-box;
color: #fff;
}
#ProductPrice{
position: relative;

background: none;

color: #000;

margin: 0px;
font-weight: 700;
top: 8px;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
#AddToCartForm .product-list-actions{
	float:right;
}
#AddToCartForm .product-list-actions .product-single-prices{
	float:left;
}

.topbar{
	display:block;
  background:#ff007b;
}
.topbar ul{
	display:block;
  text-align:right;
  margin-bottom: 0px;
padding-top: 7px;
padding-bottom: 4px;
}
.topbar ul > li{
	display:inline-block;
  	padding:0px 10px;
  	
}
.topbar ul li > a{
	color:#fff;
}

.topbar .cart-icon {
    position: relative;
    top: 0px;
    right: 0px;
}

.topbar .cart-icon a, .topbar .cart-icon > div {
    display: block;
    font-size: 16px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    line-height: 22px;
    text-align: center;
    position: relative;
}
.topbar .cart-count {
    position: absolute;
    width: 22px;
    right: 20px !important;
    line-height: 20px;
    font-size: 11px;
    top: -8px;
    text-align: center;
    border: 1px solid #ff007b;
    border-radius: 50%;
    background: #fff;
    left: 18px;
    color: #ff007b;
}

.page-width{
	padding-top:0px;
}

.flavor-page-content .page-content{
	display:block;
  	margin:0px auto;
  float:none;
}
.flavor-page-content .page-content p{
	text-align:center;
}
.flavor-page-content .page-content h2{
    font-size: 30px;
    line-height: 35px;
    font-weight: 400;
    margin-bottom: 25px;
}



.flavor-image{
	margin:15px 1%;
  	width:31.333%;
  	float:left;
  	padding-top:31.333%;
      border: 1px solid #ddd;
}

.flavor-detail-content h3{
	    text-align: left;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.2px;
}


.div-celebrate.acadomy .tag-text,
.div-celebrate.acadomy .hero-link{
	position:absolute;
}
.div-celebrate.acadomy .tag-text{
	font-weight:400;
  	border:0px;
  letter-spacing:0;
  font-size:18px;
  width:100%;
      max-width: 155px;
}

.tag-navigations-wrapper ul{
  	display:flex;
	flex-wrap: wrap;
  	padding-left:0px;
}
.tag-navigations-wrapper ul li{
	display:inline-flex;
  	align-items:center;
 	    justify-content: center;
}
.tag-navigations-wrapper ul li a{
	height:auto;
}
/****************** product **********************/

@media screen and (max-width:1250px){
  .nav-links{
  	padding: 15px 5px;
    font-size: 15px;
  }
  
}

@media screen and (max-width:994px){
.cart-icon-topbar{
  	display:none !important;
  }
  
  .blog-column-right{ width: calc(100% - 130px) !important; max-width: 100% !important;}
}

@media screen and (min-width:768px){
  .collection-grid,
  #Collection{margin-left:-10px !important; margin-right:-10px !important;}
  
  
}

.thumbnails-wrapper button{
	width:25px;
}
/*
.thumbnails-wrapper ul{
	overflow: hidden;
	width: 100%;
	height: 120px;
}

.thumbnails-wrapper ul li{
float: left;

width: 30%;}
.product-single__photo.hide{
	display:none;
}*/
.product-single__photo-wrapper:after,
.product-single__photo-wrapper:after{
	clear:both;
  display:table;
  content:"";
}

.product-single__price{
	margin-top:30px;
}
.product-single__title{
	text-transform:inherit;
  font-weight:400;
}

.pagination li{
	display:inline-block;
  line-height: 15px;
  padding-left: 8px;
  padding-right: 12px;
  border-right:1px solid #444;
}
.pagination li:last-child{
	border-right:0px;
}
.pagination li span{
	display:inline-block;
}
.pagination li svg{width:25px; display:inline-block; position: relative; top: 1px; }


.shipping-policy ul{padding-left:0px; list-style-position: inside; }
.faq-heroimage{
	overflow:hidden;
}
.faq-heroimage img{
	width:100%; 
  	height:auto;
  	top:50%;
  	transform:translateY(-50%);
}

.nav-menu .left-menu{
	width:48%;
  text-align:right;
}

.nav-menu .right-menu{
	width:50%;
}
.nav-menu .right-menu > div{
	float:left;
}

.product-terms-content ul li{
	list-style-position: inside !important;
	list-style: disc;
}

.note.form-success{
	background: #ff007b;
    display: block;
    padding: 15px;
    margin-bottom: 25px;
    color: #fff;
  	margin-top:35px;
}

.tag-navigations-wrapper{
	display:block;
  text-align:center;
  padding-top: 20px;
}

.tag-navigations-wrapper ul li{
  padding: 9px 15px;
  width:16.6%;
  float:left;
  text-align:center;
}
.tag-navigations-wrapper ul li a{
  display:block;
  font-family: 'Better together demo', sans-serif;
  font-size:20px;
  text-align:center;
}

.tag-navigations-wrapper ul li a span{
  display:block;
   
}

.tag-navigations-wrapper ul li img{
	max-height:95px;
  width:auto;
}


@media screen and (min-width: 791px){
  .navbar.home{
      display:block !important;
  }
  
}
@media screen and (min-width: 749px){
  .slick-slider .product-single__thumbnails-item{
  	float:none !important;
  }
  .slick-initialized .slick-slide {
      display: inline-block !important;
  }
  .product-single__meta{
  	padding-left:25px;
  }
  
  #shopify-section-product-template{
  	padding-top:70px;
  }
  .drawer {
      right: -400px;
      width: 400px;
  }
  .cart-drawer__close-button .icon {
      width: 18px;
  }


    .cart-drawer__footer-container {
      padding: 40px 0;
  }
  .cart-drawer__disclaimer {
    margin-bottom: 40px;
  }
  .cart-drawer__close-button .icon {
      width: 18px;
      fill: #000;
  }
  
}


@media screen and (max-width: 768px){
.blog-column{
  	width: 100px !important;
    max-width: 100px !important;
  }
  .tag-navigations-wrapper ul li{
    width:33.33%;
  }

}

@media screen and (max-width: 640px){
  .text-columns{
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
    -webkit-column-gap: 0px; /* Chrome, Safari, Opera */
    -moz-column-gap: 0px; /* Firefox */
    column-gap: 0px;
  }
  body img{
	max-width: 100% !important;
height: auto !important;
}
  
  .blog-image{
  	height: 172px;
  }
  .blog-column{
    position: relative;
    top: -8px;
    background-size: cover;
    background-position: center bottom;
    width: 100px !important;
    margin-left:0px;
  }
  .blog-column-right{
  	padding-left: 15px;
    max-width: 195px;
    float: right;
  }
  .blog-header {
      margin-top: 0px;
      margin-bottom: 5px;
      font-size: 20px;
      line-height: 22px;
  }
  
  .div-block-13.left {
      margin-top: 0px;
      margin-bottom: 5px;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 0px;
      background-size: 45px;
      text-align: left;
    
  }
  .author{
  	width:100%;
    height:250px;
  }
  [class*="w-col-"],
  [class*="column-"]{
      padding-left:5px;
      padding-right:5px;
  }
  
}

@media screen and (max-width: 1100px){
  .dropdown-2{
	margin-right: 5px;
	margin-left: 5px;
  }
}

@media screen and (min-width: 768px){
  .page-row{ display:flex; }
  .page-content{ display:inline-flex; align-items:center; }
  
}

@media screen and (max-width: 991px){
  #mobile-header{display:block;}
  .navbar.home{
  	display:none !important;
  }
}
@media screen and (max-width: 580px){
	.tag-navigations-wrapper ul.navigations{
  		display: flex;
      	flex-wrap: wrap;
      	padding-top:35px;
    }
    .tag-navigations-wrapper ul li{
      width:33.33%;
      display: inline-flex;
      align-items:center;
      justify-content:center;
      padding:10px 15px; 
    }
  .tag-navigations-wrapper ul li .blog-nav-icon{width:100%; height:auto; padding-top: 100%; }
  .tag-navigations-wrapper ul li a{
  	height:auto;
    width:100%;
    display:block;
  }
}
@media screen and (max-width: 480px){
	.w-col{width:100% !important; }
 
  .blog-column-right{width: calc(100% - 130px) !important; max-width: 100% !important;}
  .div-50.colored-box.auto{
  	display:block;
    margin:15px auto;
  }
  
}
/*=======*/
.class-shedule-calendar-block{
	padding:100px;
}
.plan-event-content-sec .btn-content-block{
  	padding-left:10px;
  }
.template-404 .empty-page-content h1{
	margin-bottom:20px;
}
.template-404 .empty-page-content p{
	text-align:center;
  margin-bottom:15px;
}
#shopify-section-list-collections-template .grid.grid--uniform{
	padding:15px 15px 30px;
}
#build-a-box-summary p{
	color:#fff;
}
#shopify-section-section-faq.faq-sections{
	padding-top:20px;
}
.shopify-challenge__container{
	padding:24px 0 30px;
  text-align:center;
}
.shopify-challenge__container input.shopify-challenge__button{
  background-color: #ff007b;
  border: 3px none #ff007b;
  border-radius: 0;
  color: #fff;
  display: inline-block;
  font-family: "Conv_Replica-Light";
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  height: auto;
  letter-spacing: 1px;
  line-height: 18px;
  margin-top: 16px;
  padding: 15px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 500ms ease 0s;
  width: auto;
}
.radio-button-field{
	position:relative;
  padding-left:0;
}
.radio-button-field input[type=radio]{
	opacity:0;
  	position:absolute;
  	cursor:pointer;
  	height:18px;
  	width:100%;
  	left:0;
  top:0;
}
.radio-button-field label.w-form-label{
	padding-left:25px;
}
.radio-button-field label.w-form-label::before {
  background: #fff;
  border: 1px solid rgba(0,0,0,0.65);
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 14px;
  left: 0;
  position: absolute;
  top: 5px;
  width: 14px;
}
.radio-button-field input:checked + label.w-form-label::before {
  background: #fff;
  box-shadow: 0 0 5px rgba(0,0,0,0.75) inset;
}
.form-block.plan-event-form-block{
	background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
    margin: 40px auto;
    padding: 30px;
  	max-width:800px;
}
.form-block.plan-event-form-block .grid{
	display:inline-block;
  width:100%;
  vertical-align:top;
  margin-bottom:15px;
}
.form-block.plan-event-form-block .grid input,.form-block.plan-event-form-block .grid select{
	margin-bottom:0;
}
#contact_form input:focus,#contact_form select:focus,#contact_form textarea:focus{
	border-color:#FF007B;
}
input,select,textarea,#contact_form input,#contact_form select, #contact_form textarea{
 
  background-position: 50% 100% !important;
  background-repeat: repeat-x !important;
  background-size: 13px auto !important;
}
input[type=submit]{
	background-image: none !important;
}
input[type=text],input[type=email],input[type=password],input[type=tel],textarea,form select,select{
	border:1px solid rgba(0,0,0,0.7);
}
input[type=text]:focus,input[type=email]:focus,input[type=password]:focus,input[type=tel]:focus,textarea:focus,form select:focus,select:focus{
	border:1px solid #ff007b;
}

.div-faq{
	margin-top:55px;
}
.faq a{
	color:#ff007b;
  text-decoration:none;
  font-family: 'Poppins' !important;
}
.buildbox-section-main-block .team-member-box .cookie {
  left: 50%;
  right: auto;
  transform: translateX(-50%);
  width: 120px;
  top:-60px;
}
.buildbox-section-main-block .team-member-box.side-border.last{
	padding-top:77px;
}
.template-collection .team-member-box .hidden-ingredients .button-link{
	margin-right:0;
}
.template-collection .team-member-box .hidden-ingredients{
	width:99%;
}
.page-width > .register-form-content{
	margin-bottom:40px;
}
footer #contact_form input{
	background-image:none !important;
}
#shopify-section-community-section{
  	background:rgba(255,255,255,0.7);
  }

.cart-icon-topbar{
   position:relative;
}
.cart-icon-topbar .submenu{
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 10px 0 0 0;
    right: 0;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-transform: translateY(15px);
    -ms-transform: translateY(15px);
    -o-transform: translateY(15px);
    transform: translateY(15px);
    opacity: 0;
    visibility: hidden;
    z-index: 9999;
   width:324px;
   
}
  #mini-cart > li{
   background:#fff;
    padding-top: 25px;
  }
 .cart-icon-topbar:hover .submenu{
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
  .cart-icon-topbar:hover .submenu li{
   display:block;
  }

  .container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
  .minicart.hasItem .mini-cartContent {
    display: block !important;
}
  .minicart .mini-products-list {
    overflow-y: auto;
    max-height: 50vh;
    border-bottom: 1px solid #ddd;

margin-bottom: 10px;
}
  .whishlist > li, .cart-list > li {
    position: relative;
}
  .whishlist-item, .cart-item {
    zoom: 1;
    overflow: hidden;
    margin-bottom: 20px;
}
  .whishlist .product-image {
    width: 70px;
    margin-right: 15px;
}
  .whishlist-item .product-image, .cart-item .product-image {
    float: left;
    margin-right: 30px;
}
  .mini-products-list .product-details {
    overflow: hidden;
    position: relative;
    padding-left: 0;
}
  .product-name {
    font-size: 14px;
    font-weight: 400;
}
  .product-name a{display: block;

line-height: 16px;}
  .whishlist .whishlist-quantity, .whishlist .whishlist-price {
    color: #898989;
    font-size: 12px;
}
  .whishlist .whishlist-quantity, .whishlist .whishlist-price {
    color: #898989;
    font-size: 12px;
}
  .menu-cart-total > .price_total {
    color: #000;
    float: right;
}#mini-cart .mini-cart-empty {
    display: none;
}
.actions{
	padding-bottom:20px;
}
.actions .btn {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    width: auto;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 2px;
    padding: 8px 15px;
    background-color: #ff007b;
    color: #fff;
    font-family: "Work Sans","HelveticaNeue","Helvetica Neue",sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    white-space: normal;
    font-size: 14px;
}

.account-block-area > .section-header{
	display:inline-block;
  	width:100%;
  	vertical-align:top;
  padding:10px 0;
}
.account-block-area > .section-header h1{
	font-size:35px;
}
.account-block-area > .grid{
    width:100%;
    padding:10px;
  	margin:15px auto 40px;
  	max-width:850px;
}
.account-block-area > .grid .grid__item{
	width:100%;
  	display:inline-block;
  	padding:10px 10px 15px;
  	background: rgb(247,248,249);
  	margin-bottom:10px;
  	border:1px solid rgba(0,0,0,0.2);
}
.account-block-area > .grid .grid__item h3{
	margin-bottom:5px;
  	margin-top:5px;
}
.address-block-top-content .title-description-area,.address-block-top-content .title-description-area p{
	text-align:center;
}
.page-width.new-address-form-block{
	padding-top:30px;
  padding-bottom:20px;
  margin-bottom:20px;
}
.new-address-form-block .grid__item .address {
  background: rgb(247,248,249);
  margin-bottom: 15px;
  padding: 10px;
}
.new-address-form-block form{
	text-align:left;
}
.new-address-form-block form .grid{
	margin:0 -5px !important;
}
.new-address-form-block form .grid .grid__item{
	padding:0 5px;
}
.new-address-form-block .edit-address-form-block{
	padding-top:25px;
}

.flavers-list{
    padding: 0px;
    text-align: left;
    margin-bottom: 35px;
}
.flavers-list li{
    display: inline-block;
    font-size: 16px;
    margin-right: 25px;
}
.flavers-list li img{
        max-width: 30px !important;
    margin-right: 3px;
}
.flavers-list-item{
  list-style: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 9;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 7px;
}
.flavers-list-item li{
  max-width:50px;
  display:inline-block;
}
.team-member-box{
	position:relative;
}

.team-member-box .flavers-list-item li{
	max-width:40px;
}

.buildbox-section-main-block .flavers-list{
	margin-bottom: 0px;
}
.buildbox-section-main-block .flavers-list li{
	    font-size: 15px;
}

.team-member-text input[type="submit"]{
	background:none !important;
  	border:0px;
  	outline:0px;
  	border:0px;
  	text-transform:uppercase;
}

.additional-btns .btn
{
	margin-bottom:5px;

}  
body #ui-datepicker-div{
	z-index:999 !important;
}

#shipping_devlivery_container{
	width:300px; max-width:100%; position:relative; display: block;
  	margin:0px auto 25px auto;
  	
}
  
#shipping_devlivery_container:after{
	content:"";
  	display:table;
  	clear:both;
}  

.hero-image.text-center{
	padding:0px 20px;
  
}
.hero-image.text-center .div-block-12{
	width:100%;
  text-align:center;
}

.our-story-howbegin-block{
	position:relative;
  z-index:1;
}
.responsive_video{
position: relative;

width: 100%;
max-width: 100%;
display: block;

margin: 0px auto;
  margin-bottom: 50px;
}
.responsive_video .video-wrapper{
  width: 100%;
  padding-top: 56%;
}
.responsive_video .video-wrapper iframe{

    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;

}

@media screen and (min-width:490px) {
  .bg-seasonal { 
    display:flex;
    
    //padding-left:32%;
  }
  .collection-gift-cards {
    margin-left: 25%; 
    margin-right: -25%;
  }
}

  .bg-seasonal{
    border-color: #39bcdb;
    
  }
  .bg-seasonal .seasonal{

    position: absolute;
    right: 0px;
    bottom: 0px;
    background: #39bcdb;
    color: #fff;
    padding: 3px 10px;
    font-weight: 100;
    letter-spacing: 0.1px;

}

.hero-image.text-right{
    text-align:right;	
}
.hero-image.text-left .fancy-hero,
.hero-image.text-left .div-block-12{
    text-align:left;
    width:100%;
}

.hero-image.text-center .div-block-12{
    text-align:center;
    width:100%;
}

.hero-image.text-center{
	padding-right:0px;
}
.hero-image.text-left{
	padding-left: 10%;
}

.hero-image{
	position:relative;
}
.hero-image .div-block-12{
	position: relative;
   z-index: 9;
}
.hero-image.white_overlay:after{
	background-color: rgba(255, 255, 255, 0.3); 
  	position:absolute;
    left:0px;
    right:0px;
    bottom:0px;
    top:0px;
    content:"";
  	z-index:1;
}
.hero-image.white_overlay:after{
	background-color: rgba(255, 255, 255, 0.5); 
  	position:absolute;
    left:0px;
    right:0px;
    bottom:0px;
    top:0px;
    content:"";
  	z-index:1;
}
.hero-image.black_overlay:after{
	background-color: rgba(0, 0, 0, 0.5); 
  	position:absolute;
    left:0px;
    right:0px;
    bottom:0px;
    top:0px;
    content:"";
  	z-index:1;
}

.hero-image.pink_overlay:after{
	background-color: rgba(255, 0, 123, .4);
  	position:absolute;
    left:0px;
    right:0px;
    bottom:0px;
    top:0px;
    content:"";
  	z-index:1;
}
.hero-image.no_featured_image{
	background: none !important;
    height: auto;
  padding-top: 25px;
padding-bottom: 25px;
}

.delivery_type_tabs{
	display:block;
  	list-style:none;
}
.delivery_type_tabs li{
  width: 50%;
  float: left;
  text-align: center;
  border: 1px solid #e1e1e1;
  border-top: 0px;
}
.delivery_type_tabs li a{
  line-height: 31px;
  display: block;
  font-weight: 400;
}
.delivery_type_tabs li a.active{
  background-color: #ff007b;
  color: #fff;
}

.all-monthe-slider-wrapper{width:420px; display:block; margin:25px auto; position:reative; }

.all-monthe-slider-wrapper .flickity-page-dots{display:block !important; }
.all-monthe-slider-wrapper .flickity-prev-next-button.previous,
.all-monthe-slider-wrapper .flickity-prev-next-button.next{
	display:none !important;
}
.flickity-page-dots .dot{
    background: #ff007b!important;
}

/*******************************************************************************************/


@media(max-width:1199px){
  .collection-header .page-width{
  	padding-top:20px;
    padding-left:20px;
    padding-right:20px;
  }
  .collection-header .page-width .section-header{
  	margin-bottom:15px;
  }
  .collection-header .page-width .banner2{
  	margin-bottom:25px;
  }
  .collection-header .page-width .banner2 h3{
  	margin-bottom:10px;
  }
  .outer-div .team-member-box .out-div {
    margin: 10px;
  }
  .content-section .medium-up--one-quarter {
    width: 50%;
  }
 
}
@media(max-width:1025px){
.flavor-detail-content-block .content-section{
    position:relative;
    display:inline-block;
    width:100%;
    vertical-align:top;
  }
  .flavor-detail-content-block .content-section::before{
  	/* background: rgba(255, 255, 255, 0.7); */
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }
  .flavor-detail-content-block .content-section > div{
    z-index:2;
  }
  .our-story-howbegin-block .brownie-tray{
  	top:-65%;
    width:535px;
    right:-40px;
    left:auto;
  }
  #shopify-section-1522185353090 .social-share h1.h3.left{
  	text-align:center;
  }
}


@media only screen and (max-width: 766px) and (min-width: 480px){
  .colored-box-wrapper .colored-box{
  	max-width:94%;
  }
}


@media(max-width:991px){
  
  .buildbox-section-main-block .flavers-list{
  	padding-bottom:70px;
    
  }
  .content-section.sprinkles > .w-container {
    padding: 15px 10px;
  }
  .content-section.sprinkles .form-block-2{
  	width:100%;
    max-width:610px;
    margin:0 auto;
  }
  #contact_form  input.text-field,#contact_form textarea.text-area{
    background-color:#fff;
  }
  .link-box{
  	width:100%;
    height:240px;
  }
  .link-box h2,.link-box h2.box-heading-bold{
  	font-size:30px;
  }
 
  #shopify-section-visit-celebrate .div-celebrate._300px{
  	padding-left:155px;
  }
  #shopify-section-visit-celebrate .div-celebrate._300px .hero-link{
  	width: 145px;
  }
  .class-shedule-calendar-block{
		padding:30px 50px 80px;
	}
  #shopify-section-section-faq .container-3{
  	z-index:1;
  }
  .template-collection > .shopify-section{
  	padding-top:65px;
  }
  .template-collection .buildbox-section-main-block #build-a-box .team-member-box{
  	margin-bottom:95px;
  }
  .template-collection .team-member-box.hover_link_image .team-member-text{
    display:block !important;
  }
  .template-collection .team-member-text .title.tiny{
  	margin-bottom:5px;
  }
  .template-collection .buildbox-section-main-block #build-a-box > .team-member-box{
  	height:220px;
    display:inline-block;
    width:48%;
  }
  .template-collection .team-member-box.hover_link_image .hidden-ingredients{
  	display:block !important;
    opacity:1 !important;
    padding-left:0;
    padding-right:0;
  }
  .template-collection .team-member-box .hidden-ingredients .button{
  	font-size:15px;
  }
  .buildbox-section-main-block #AddToCartForm .product-list-actions .product-single-prices{
  	padding-right:5px;
  }
  
  /*======*/
  
  .our-story-howbegin-block .brownie-tray{
  	top:-14%;
    width:435px;
    right:-35px;
    left:auto;
  }
  .our-story-howbegin-block .div-50.colored-box {
    margin: auto;
    max-width: 400px;
    width: 100%;
   }
  .hero-link.horizontal.move{
  	width:110px;
    left:0;
    font-size:18px;
  }
  .hero-link{
  	width:110px;
   
    font-size:18px;
  }
  .section-top.hero .w-slide .hero-link{
  	width:250px;
  }
  .hero-link .tag-text.left{
  	font-size:18px;
  }
  .inspiration-event-desc-block{
  	padding-left:85px;
  }
  .flex.community-media-title-sidebyside{
  	display:inline-block;
    width:100%;
    margin-bottom:15px;
  }
  .flex.community-media-title-sidebyside .media-block-community,.flex.community-media-title-sidebyside .colored-box-title-donation{
  	width:100%;
  }
  
}

@media(min-width:768px){
  
  .all-monthe-slider-wrapper{float:right; width:43%; margin:20px auto; }

  .flavor-detail-content-block .flavor-page .column-center:first-child > a{
      float:left;
  }
  .flavor-detail-content-block .flavor-page .column-center:last-child > a{
      float:right;
  }
  
  .cart-left-content{
    float: left;
    width: calc(100% - 300px);
    padding-right: 35px;
    box-sizing:border-box;
  }
  .cart-right-content{
    float: right;
    width: 300px;
    background-color: #f9f9f9;
	padding: 20px 15px;
    box-sizing:border-box;
  }
  .cart__footer{
      padding-top:0px !important;
    }

  .cart__continue--large{
    display:block !important;
    clear:both;
    margin:10px auto;
    width:100% !important;
  }
  .cart__update--large{
      float:left; 
      width:49% !important;
      margin-right:0px !important;
  }
  .checkout-btn{
      float:right; 
      width:49% !important;
  }

  .cart-right-content h3{
      border-bottom: 1px solid #e1e1e1;
      padding-bottom: 10px;
      margin-bottom:0px;
  }
  .cart-right-content .sub_total,
  .cart-right-content .cart__shipping{
      text-align:left !important;
    display:block;
  }
  .faq-tab-btn{
	float:left;
    margin:5px 9px;
  }

}

@media(max-width:768px){
   .faq-tab-btn{
      margin:0px auto;
     width:100%;
    }
  .cart-right-content h3{
  	text-align:center;
    margin-bottom:0px;
    border-bottom: 1px solid #e1e1e1;
      padding-bottom: 10px;
  }
  .banner2{
  	display:inline-block;
    width:100%;
    vertical-align:top;
  }
  #mobile-navigation{
  	padding: 0 10px;
  }
  .have-sub-menu a span{
  	padding-right:10px;
  }
  .about-image{
  	background-position:center;
  }
 #shopify-section-contact-us .contact-row,#shopify-section-location-hourrse .div-block-21{
  	display:inline-block;
    width:100%;
    vertical-align:top;
  }
  #shopify-section-contact-us .contact-row .column-center,#shopify-section-location-hourrse .div-block-21 .column-center{
  	margin-bottom:10px;
  }
  .content-section.sprinkles #team.content-section{
  	padding-bottom:20px;
  }
  #shopify-section-press-logos .w-col-small-6,#shopify-section-press-logos-2 .w-col-small-6{
  	width:50% !important;
  }
  .outer-div .team-member-text{
  	opacity:1;
  }
  #Collection .outer-div .cta-image .price{
  	padding-left:5px;
    padding-right:5px;
  }
  #shopify-section-kristen-image .w-inline-block{
      width:100%;
  }
  .grid.product-single .collection-grid{
  	padding-bottom:10px;
  }
  .content-section.delivery,.content-section.locations{
  	position:relative;
    display:inline-block;
      width:100%;
    vertical-align:top;
  }
  .content-section.delivery::before,.content-section.locations::before{
  	 background: rgba(255, 255, 255, 0.7);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  .content-section.delivery > div,.content-section.locations > div{
  	position:relative;
    z-index:2;
  }
  #shopify-section-visit-locations .column img.image{
  	width:100%;
  }
  button#AddToCart-product-template{
  	font-size:20px;
  }
  #shopify-section-product-template #ProductSection-product-template{
  	margin-bottom:10px;
  }
  #event-calendar-app .fc-view.fc-month-view.fc-basic-view{
    overflow-y:hidden !important;
    overflow-x:auto;
  }
  #event-calendar-app table{
    min-width:600px !important;
  }
  #shopify-section-all-flavors .tab-div .team-member-box._25{
  	margin-bottom:100px;
  }
/*   #shopify-section-all-flavors .banner2 {
    display:inline-block;
    width:100%
  } */
  .div-block-21{
  	display:inline-block;
    width:100%;
    vertical-align:top;
  }
  .div-block-21 a.link-block-stripe{
  	margin-bottom:10px;
    margin-right:0;
  }
  #shopify-section-class-schedules-bottom-content .column-center{
  	margin-bottom:10px;
  }
  #shopify-section-seasonal-jan-flavor .tab-div{
  	margin-top:0;
  }
  #shopify-section-class-schedule .w-col.w-col-4{
  	margin-bottom:10px;
  }
  #shopify-section-class-schedule .w-col.w-col-4 img{
  	width:100%;
    max-width:400px !important;
  }
  
  .class-shedule-calendar-block{
		padding:10px 15px;
    margin-bottom:30px;
	}
  #shopify-section-class-monthly-schedules .reponsive-fix-margin{
  	margin-bottom:10px;
  }
  .class-shedule-sec-content p.paragraph-padding{
  	padding:35px 0;
  }
  .div-celebrate.acadomy{
  	padding-left:105px;
  }
  .div-celebrate.acadomy .hero-link{
  	width:120px;
  }
  #email-form-3 .contact-form .grid--full-gutters.w-col{
  	padding-left:0;
    padding-right:0;
  }
  .form-block.plan-event-form-block{
  	padding-right:0;
  }
  .content-section.plan-event-content-sec{
  	padding-left:0;
    padding-right:0;
  }
  .boxes-block-sec .row-8 .column-center{
  	margin-bottom:10px;
  }
  #shopify-section-inspirations-template.inspiration-section .row-8{
  	margin-top:5px;
  }
  #shopify-section-inspirations-template.inspiration-section .row-8 .column-center{
  	margin-bottom:10px;
  }
  .blog--list-view > ul.list--inline.pagination{
  	padding-left:0;
  }
/*   #new-shop.div-faq,#thedo.div-faq{
  	text-align:center;
  } */
/*   #new-shop.div-faq .banner2,#thedo.div-faq .banner2{
   display:inline-block;
    width:100%;
  } */
  #new-shop.div-faq .banner2 .heading,#thedo.div-faq .banner2 .heading{
/*   	float:none; */
/*    	margin-left:0; */
  } 
  .register-form-content form#create_customer{
  	margin-bottom: 30px;
  }
  .register-form-content form#create_customer > h2.text-center{
  	display:none;
  }
  .register-form-content > .grid__item{
  	padding-left:0;
  }
  .product-form button#AddToCart-gift-card{
  	font-size:20px;
  }
/*   #ProductSection-gift-card .banner2{
  	display:inline-block;
    text-align:center;
  }
  #ProductSection-gift-card .banner2 h3.heading.on-lines{
  	display:inline-block;
    float:none;
  } */
  .product-single__description.rte .product__info ul{
  	margin-left:15px;
  }
  .flavor-detail-content-block .contact-row{
  	display:inline-block;
    width:100%;
    vertical-align:top;
  }
  .contact-row .column-center .link-box.more-padding.larger{
    width:100%;
  }
  .flavor-detail-content-block .contact-row .column-center{
  	margin-bottom:10px;
  }
  

  .flavor-detail-content-block .content-section .div-absolute .flavor-photo{
    max-width:400px !important;
    width:100%;
    margin:0 auto 10px;
  }
  .flavor-detail-content-block .content-section .div-absolute .flavor-info{
  	margin-bottom:30px;
    width:100%;
    max-width:400px;
    margin-left:auto;
    margin-right:auto;
  }
  .flavor-detail-content-block .flavor-info.w-richtext{
  	margin-top:10px;
  }
  .banner .pink-line{
  	display:none;
  }
  .banner .box-heading-bold.caps{
  	padding-left:5px;
    padding-right:5px;
  }
  .banner .box-heading-bold.caps::before{
  	content:'';
    display:inline-block;
    width:140%;
    height:1px;
    background:#ff007b;
    position:absolute;
    top:50%;
    transform:translate(-50%,-50%);
    left:50%;
    z-index:-1;
  }
  #shopify-section-visit-locations-stor-front .column img{
  	width:100%;
    right:auto;
    left:auto;
  }
  .plan-event-content-sec .btn-content-block{
  	padding-left:0;
  }
  #ProductSection-product-template .grid__item{
  	padding-left:15px;
    padding-right:15px;
  }
  #shopify-section-collection-template .cta-image{
  	background-size: contain;
  }
  .faq-sections .div-block-10.faq-heroimage {
    height: 200px;
    margin-bottom: 25px;
    margin-top: 40px;
  }
  .template-404 .empty-page-content h1 {
    font-size: 40px;
    margin-bottom: 15px;
  }
  .template-404 .empty-page-content{
  	padding-left:20px;
    padding-right:20px;
  }
  .div-50.colored-box{
  	display:block;
    margin-left:auto;
    margin-right:auto;
  }
  .colored-box-1 {
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
  }
  
  .div-50.colored-box.auto {
    display: block;
    max-width: 400px;
    width: 100%;
  }
  .template-collection > .shopify-section{
  	padding-top:0;
  }
  .template-collection .buildbox-section-main-block .w-col-6{
  	width:100%
  }
  .template-collection .buildbox-section-main-block #build-a-box {
    clear: both;
    padding-top: 50px !important;
  }
  .template-collection .buildbox-section-main-block #build-a-box .team-member-box:last-of-type{
  	margin-bottom:10px;
  }
  #shopify-section-section-faq.faq-sections{
	padding-top:0px;
}
  .form-block.plan-event-form-block{
  	padding:20px 15px !important;
  }
  .form-block.plan-event-form-block .grid{
  	margin-bottom:10px;
    
  }
  .form-block.plan-event-form-block .grid .grid__item{
  padding:0;
  }
  .form-block.plan-event-form-block .grid input,.form-block.plan-event-form-block .grid select{
  	margin-bottom:10px;
  }
  .page-width > .register-form-content{
	margin-bottom:10px;
	}
  .flavor-detail-content-block .content-section > div{
  	position:relative;
  }
  .our-story-howbegin-block .brownie-tray{
    width:450px;
    display:block;
    margin:auto;
  }
  .inspiration-event-desc-block{
  	padding-left:10px;
  }
  
}
@media(min-width:750px){
	.mobile-add-cart{
      display:none !important;
    }
  .mobile-404{display:none !important;}
  .location-gallery{padding:25px;}
  
 
  
}

@media(max-width:750px){

  
  .desktop-404{display:none !important;}
  
  .desktop-add-cart{
  	display:none !important;
  }
  
  .buildbox-row .cart__update-wrapper.cart-flex-item.text-right{
  	display:none !important;
  }
  .buildbox-row .cart__price-wrapper.cart-flex-item .cart__edit.medium-up--hide{
  	display:none !important;
  }
  
  .buildbox-row .cart__meta.small--text-left.cart-flex-item p.small--hide{
  	display:block !important;
  }
  
  .product-single__meta .clearfix{
  	padding:0px !important;
  }
  
  .product-single__meta  .product-single__price {
  	margin:0px;
  }
  .product-single__photos,
  .product-single__description{
  	margin-bottom:0px !important;
  }
}

@media(max-width:600px){
  #contact_form .div-block-14{
    display:inline-block;
    width:100%;
  }
  #contact_form input{
  	width:100%;
  }
  #contact_form input[type="checkbox"],#contact_form input[type="radio"]{
  	width:auto;
  }
  .plan-event-form-block .contact-form input[type="checkbox"],.plan-event-form-block .contact-form input[type="radio"]{
  	margin-top: 6px;
  }
  
  .flavers-list li{
  	display:block;
  }
}
@media(max-width:480px){
  
  .all-monthe-slider-wrapper{width:320px;}
  
  .hero-image{
      position:relative;
    background-position:center;
  }
  .hero-image::before {
    background: rgba(255, 255, 255, 0.4) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  .hero-image > div {
    position: relative;
    z-index: 2;
  }
  .about-image{
  	background-position:50% 5%;
  }
  .colored-box-2 {
    left: -20px;
    padding-right: 20px;
  }
  .colored-box-2.yellow{
  	left:-23px;
    top:20px;
    padding-right:20px;
  }
  #shopify-section-feature-columns .content-section .container-3.w-container{
  	padding-left:0;
    padding-right:0;
  }
  .div-50.colored-box{
  	max-width:400px;
    width:100%;
  }
  #shopify-section-feature-columns .row-7 {
    margin-top: 25px;
  }
  .content-section.sprinkles {
    padding-bottom: 0;
    padding-top: 25px;
  }
  #shopify-section-contact-us .contact-row{
  	margin-top:40px;
  }
  #address .contact-div{
  	margin-left:0;
  }
  #address .social-icons-box.stay-connected{
  	text-align:center;
  }
  .map-2 {
    height: 580px;
  }
  .banner .pink-line{
  	top:51%;
    transform:translateY(-50%);
  }
  .collection-header .page-width .banner2 h3 {
    width: 100%;
    text-align: center !important;
    margin: 0!important;
  }
  .outer-div .team-member-text a .button{
    font-size:13px;
  }
  .shopify-section .page-width{
  	padding-left:10px;
    padding-right:10px;
  }
  .grid .grid__item{
  	padding-left:5px;
  }
  .content-section.delivery .header-box.one-line._50.delivery{
  	right:0;
  }
  #shopify-section-visit-celebrate .hero-link.horizontal{
  	top:10px;
  }
  #shopify-section-visit-celebrate .hero-link .tag-text.left,.hero-link.horizontal .tag-text{
  	font-size:16px;
  }
  #shopify-section-all-flavors .tab-div .team-member-box._25{
  	margin-bottom:110px;
  }
  #shopify-section-all-flavors .banner2 h3 {
    margin-left:0;
  }
  .class-shedule-sec-content .content-wrapper > .row-14 {
    margin-bottom: 10px;
	}
  .blog-column-right{
    width: calc(100% - 115px) !important;
  }
  #shopify-section-gift-card{
  	padding-top:25px;
  }
  #shopify-section-gift-card > .content-section{
  	padding-top:10px;
  }
  .banner{z-index:1;}
   .banner .box-heading-bold.caps{
  	font-size:28px;
  }
  .banner2{
  	text-align:center;
  }
  .banner2 .heading.on-lines{
  	margin-left:0;
    float:none;
  }
  .faq-sections .div-block-10.faq-heroimage {
    margin-bottom: 10px;
    margin-top: 25px;
  }
  .template-404 .empty-page-content {
    padding: 25px 5px 86px 5px;
  }
  .template-404 .empty-page-content h1 {
    font-size: 24px;
    line-height: 1;
    margin-bottom: 10px;
  }
  .div-50.colored-box{
  	position:static;
    margin:0 auto 10px !important;
    display:block;
    text-align:center;
  }
  .colored-box-1{
  	 display: inline-block;
    position: relative;
    width: calc(100% - 20px);
   margin:10px 0 15px; 
  }
  
  .colored-box-1 .colored-box-2{
    padding:60px 30px;
    left:0px;
    top:0px;
  }
  #shopify-section-list-collections-template .grid.grid--uniform{
		padding:15px 0px 30px;
	}
  .template-collection .buildbox-section-main-block #AddToCartForm .product-list-actions{
  	float: left;
    padding: 10px 0;
    width: 100%;
  }
  .template-collection .buildbox-section-main-block #AddToCartForm .product-actions-wrapper a.btn{
  	float:left;
  }
  .template-collection .buildbox-section-main-block #build-a-box > .team-member-box{
  	width:48%;
    height:200px;
    margin-bottom:80px;
  }
  .template-collection .buildbox-section-main-block #build-a-box .team-member-box{ 
    margin-bottom:80px;
  }
  .buildbox-section-main-block .team-member-box .team-member-box{
  	width:100%;
  }
  .buildbox-section-main-block .team-member-box .cookie{
  	width:100px;
  }
  .buildbox-section-main-block .team-member-box.side-border.last{
  	padding-top:50px;
    padding-left:5px;
    padding-right:5px;
  }
  .buildbox-section-main-block .team-member-box .hidden-ingredients{
  	padding-left:0;
    padding-right:0;
  }
  .buildbox-section-main-block .team-member-box .hidden-ingredients .button{
  	font-size:14px;
  }
  .buildbox-section-main-block .team-member-box.hover_link_image .team-member-text{
  	padding-left:0;
    padding-right:0;
    top:0;
  }
  .buildbox-section-main-block .team-member-text .title.tiny {
    font-size: 15px;
    padding:0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0;
  }
  .template-collection .buildbox-section-main-block #build-a-box{
  	padding-top:30px !important;
  }
  
  .product-single__thumbnail{
  	    width: 60px !important;
  }
}

@media screen and (max-width: 380px){
  .responsive_video{max-width: 98%; }
  .all-monthe-slider-wrapper{width:280px; margin: 55px auto; }
}

/* page nyc delivery css */
.banner-nyc-delivery{
    /*background-image: url(https://cdn.shopify.com/s/files/1/2509/8354/files/updatedbestsellerimg.png?11836023707001737961); */
    background-position: right bottom;
    background-size: 1000px;
    background-repeat: no-repeat;
    /*direction: rtl;*/
}
.container-nyc-delivery{
  max-width: 100%;
}
.content-nyc-delivery{
 padding-top: 0; 
}
h2.box-heading-bold.normal.small {
    color: #231f20;
    font-family: 'Conv_Replica-Light';
    font-weight: 300;
}

#insta-feed h2 {
  margin-bottom: 20px;
}

.text-after-box {
  margin-top: 70px;
}

.seasonal-product
{
  width: 46% !important;
}

@media(max-width:479px) {
  .colored-box-wrapper {
    	height: 230px !important;
  }
  .colored-box-wrapper .colored-box {
    	margin-bottom: 0px !important;
  }
  .after-colored-box {
    	margin-top: 0px !important;
  }
  .community-media-title-sidebyside
  {
    margin-bottom: 0px !important;
  }
  .video {
    margin-top: 25px;
   }
  .text-after-box {
 	 margin-top: 20px;
     margin-bottom: 10px;
	}
  /*.plan-event-content-sec.sprinkles {
    background-image: none !important;
  }*/
  .plan-event-content-sec .div-50.colored-box {
    margin-top: 15px !important;
  }
  .delivery .row-10.w-row
  {
    padding-top: 0px !important;
    margin-top: 0px !important;
  }
  .delivery .content-wrapper.w-container {
    margin-top: 0px !important;
  }
  .delivery {
    padding-top: 0px !important;
  }
  .more-space .content-wrapper {
    margin-top: 25px !important;
  }
  .seasonal-product
{
  width: 90% !important;
}
  .bg-seasonal .team-member-box.side-border.last
  {
    width: 100% !important;
  }
}


div.column-center.w-col.w-col-4.a {
  color: #ff007b;
}

.spb-productdescfont {
  width: 100%;
}

input.spb-productdescfont, textarea.spb-productdescfont {
  border: 1px solid rgba(0,0,0,0.7);
}

.speicial-offer-box  .specialoffer-text,
.speicial-offer-box{
display: block;
    margin-top: 35px;
	text-align:center;
}

.speicial-offer-box .offer-title{
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 15px;
}
.speicial-offer-box  .textbox{
    display: inline-block;
    text-align: center;
    padding: 15px;
    border: 2px solid #eee;
  max-width: 715px;
}
.speicial-offer-box  .textbox p{text-align:center;}

#infiniteoptions-container{
    width: 100%;
    max-width: 90%;
    display: block;
    margin: 15px auto 0px auto;
    padding: 0px 2%;
}
#infiniteoptions-container select{
    height: 38px;
    padding: 6px 10px;
}
.search-wrapper{
    width: 0px;
    background: #fff;
    height: 35px;
    display: flex;
}
.mobile-search-wrapper{display:none;}
.mobile-search-wrapper .search-wrapper{width:100%;
-webkit-box-shadow: 0px 5px 7px 0px rgba(50, 50, 50, 0.4);
-moz-box-shadow:    0px 5px 7px 0px rgba(50, 50, 50, 0.4);
box-shadow:         0px 5px 7px 0px rgba(50, 50, 50, 0.4);
}
@media screen and (min-width: 766px){
  .search-wrapper{
    width: 0px;
    position: absolute;
    right: 0;
    top: -50%;
    transform: translateY(-50%);
    overflow: hidden;
    transition: all 0.6s;
  }
}
@media screen and (max-width: 765px){
  li .search-wrapper{
    display:none;
  }
  .mobile-search-wrapper{
      position: absolute;
      left: 0;
      right: 0;
      z-index: 9;
      height: 65px;
  }
  .search-wrapper,
  .search-wrapper input, .search-wrapper button {
     height: 50px !important;
  }
}
.search-wrapper.active{width:300px;}
.search-wrapper input,
.search-wrapper button{
	height:35px;
}
.search-wrapper input{ width:calc(100% - 40px); border:0 !important; outline:0; box-shadow:none;  }
.search-wrapper button{ width:40px; border:0; outline:0; cursor: pointer; box-shadow:none; }
.image-wrapper{display:block; position: relative; padding-top: 100%; }
.image-wrapper img{width:100%; height:100%; position: absolute; top:0; left:0; object-fit:cover; max-height: 100%; }


.