
<!-- <div class="white-overlay"></div>
<div class="logo-overlay" style="background-image: url('{{ 'cookie-background.png' | asset_url }}'); background-size: cover; background-position: center;">
  <div class="logo-overlay-logo" style="background-image: url('{{ 'cookie-logo.png' | asset_url }}');"></div>
</div> -->


{{ content_for_index }}


<h2 style="text-align:center;margin-bottom:20px">
follow us <a href="https://www.instagram.com/cookiedonyc" target="_blank" class="instalink">@cookiedonyc</a>
</h2>

<div class="div-container">
  <div id="feed-16141" class="instafeed-shopify"></div>
</div>
<style>
  .price { display: none; }
  
  .instalink {
    font-family: Replica, sans-serif; 
    font-size: 36px; 
    line-height: 44px;
    font-weight: 400;
    color: #EE3D8B;
  }
  
</style>