{% comment %}
  DO NOT MODIFY MANUALLY
  This asset is generated automatically by Talkable Integration at 7/9/21 1:25PM
{% endcomment %}
<style>
  
  li, li a, .product-single__title, .hidden-text, .hidden-text p, .product-single__description p, h5 {
    font-family: 'Poppins';
  }
  
  li a {
    font-weight: 400 !important;
  }
  
</style>

{% section 'header-featured-banner' %}

{% if page.handle == "corporate-gifting" %}


{% section "page-template-corporate-gifting" %}

{% else %}
{% include 'hypervisual' %}

<div id="Team" class="{{ page.handle }} content-section content-pages">
  <div class="content-wrapper w-container">
    <!-- <div class="section-header text-center">
<h1>{{ page.title }}</h1>
</div> -->

    <div class="rte">
      <div id="talkable-offer"></div>
    </div>
  </div>
</div>

{% endif %}