<style>
  li, li a, .shipping-policy a, .pick-up-policy a {
    font-family: 'Poppins';
  }
</style>
{% section 'banner-faq' %}

<div id="Team" class="{{ page.handle }} content-section content-pages">
  <div class="content-wrapper w-container">
    <!-- <div class="section-header text-center">
<h1>{{ page.title }}</h1>
</div> -->

    <div class="rte">
      {{ page.content }}
    </div>
  </div>
</div>

