{% section 'banner-faq' %}

<div id="Team" class="content-section">
    <div class="circles flavor-page w-hidden-tiny"></div>
  <!--
      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div> -->

      <div class="rte">
        {{ page.content }}
      </div>

{% section 'cookie-camp' %}
     </div>
  </div>

<style>
  
  #shopify-section-cookie-camp {
   padding-bottom: 100px; 
  }
  
  @media only screen and (max-width: 600px) {
    #shopify-section-cookie-camp {
        padding-bottom: 0px;
      	margin-bottom: 0px;
    }
}
  
</style>