<style>
  
    li, li a, .product-single__title, .hidden-text, .hidden-text p, .product-single__description p, h5 {
      font-family: 'Poppins';
    }
    
    li a {
      font-weight: 400 !important;
    }
    .pink {
        color:#ff007b;
    }
  </style>


  {% section 'header-featured-banner' %}
  
  {% include 'hypervisual' %}
  
  <div id="Team" class="{{ page.handle }} content-section content-pages">
    <div class="content-wrapper w-container">
      <!-- <div class="section-header text-center">
  <h1>{{ page.title }}</h1>
  </div> -->
  
      <div class="rte">
        {{ page.content }}
        <style type="text/css">
  .intern-row{
      display:block;
      width:100%;
  }
  .intern-column{
      width:100%;
      background: rgba(255, 255, 255, 0.8);
      box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
      padding:15px;
      float:left;
      margin-top:15px;
  }

  .font20 {
      font-size:20px;
  }
  
  @media (min-width:479px){
      .intern-row{
          display:flex;
          width:100%;
          justify-items:center;
          align-items:center;
          justify-content:center;
          box-align:center;
      }
      .intern-column{
          width:450px;
          float:left;
          height:400px;
          margin:15px;
          align-items:center;
          justify-content:center;
          position:relative;
      }  
      
      .vertical-center{
        position: absolute;
        top: 7.5%;
        bottom: 7.5%;
        left: 5%;
        right: 5%;
      }
      
  }
  </style>
  
  <div>
    <h4> Apply by Sunday, March 15th !</h4>
    <h5> Internship runs from June 2nd through August 7th</h5>
  
      <p>
          Welcome to DŌ, we’re so happy you’re here! We’re excited to launch our 2020 summer internship program! The DŌ brand continues to grow daily and we’re excited to have four eager and ambitious interns join us this summer to help with all aspects of the business. We’ll discuss your goals, interests, and strengths from the get-go and try to leverage those so you are able to get the most out of your internship with us. You’ll get to learn first-hand what goes in to developing and running a successful business. Please read below for this summer’s internship positions. 
      </p>
  </div>
  
  <div class="intern-row">
  
      <div class="intern-column">
        <div class="vertical-center">
        <h3 class="font20">Marketing & Social Media Intern</h3>
              <ul>
                  <li>
                      Pursuing degree in Marketing or similar
                  </li>
                  <li>
                      Interest in research and development of marketing initiatives 
                  </li>
                  <li>
                      Analysis of marketing and sales data 
                  </li>
                  <li>
                      Interest in social media
                  </li>
                  
                  <li>
                      Creativity with content creation
                  </li>
              </ul>
              <p>Does this sound like you? <a class="pink" href="https://www.cookiedonyc.com/pages/marketing-socialmedia-internship">Click to apply</a></p>
          </div>
        </div>
  
          <div class="intern-column">
            <div class="vertical-center">
            <h3 class="font20">Pastry & Production Intern</h3>
                      <ul>
                          <li>
                              Pursuing a culinary degree and/or has a (serious) passion for baking
                          </li>
                          <li>
                              Interest in seeing product come full circle  - sourcing, making, packaging, and shipping
                          </li>
                          <li>
                              Creative & meticulous in the kitchen
                          </li>
                          <li>
                              Comfortable working in a fast paced environment
                          </li>
                          <li>
                              Strong attention to detail and ability to follow directions
                          </li>
                      </ul>
                      <p>Does this sound like you? <a class="pink" href="https://www.cookiedonyc.com/pages/pastry-production-internship">Click to apply</a></p>
                  </div>
            </div>
        </div>      
  
  <div class="intern-row">
  
          <div class="intern-column">
            <div class="vertical-center">
            <h3 class="font20">Catering, Events, and Partnerships Intern</h3>
                  <ul>
                      <li>
                          Pursuing a degree in Event Management, Hospitality, or similar
                      </li>
                      <li>
                          Past catering/event experience is a plus!
                      </li>
                      <li>
                          Ridiculously good customer service skills
                      </li>
                      <li>
                          Interest in working various events around NYC
                      </li>
                     
                  </ul>
                  <p>Does this sound like you? <a class="pink" href="https://www.cookiedonyc.com/pages/catering-events-and-partnerships-internship">Click to apply</a></p>
              </div>
            </div>
      
              <div class="intern-column">
                <div class="vertical-center">
                    <h3 class="font20">Design & Photo Intern</h3>
                          <ul>
                              <li>
                                  Pursuing a degree in graphic design (with photo/video experience)
                              </li>
                              <li>
                                  Creativity to produce AMAZING content & designs
                              </li>
                              <li>
                                  An “ideas” person with a kicka$$ sense of design / aesthetic
                              </li>
                              <li>
                                  Experience shooting and editing photos
                              </li>
                              <li>
                                  Killer organization skills
                              </li>
                              <li>
                                  Able to provide own camera
                            </li>
                            <li>
                                 Has creative portfolio of past work to share
                            </li>
                          </ul>
                          <p>Does this sound like you? <a class="pink" href="https://www.cookiedonyc.com/pages/design-photo-internship">Click to apply</a></p>
                      </div>
                        </div>
      </div>
      <br clear="both"/>
      <hr>
<div style="text-align:center;">
  Internships are for individuals seeking academic credit.
</div>

  </div>
  </div>
  </div>
  