{% section 'banner-faq' %}

<div id="Team" class="content-section">
    <div class="circles flavor-page w-hidden-tiny"></div>
  <!--
      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div> -->

      <div class="rte">
        {{ page.content }}
      </div>

{% section 'section-faq' %}
     </div>
  </div>

<style>
  .tab-link._0{
  	background:#fff;
  }
  .tab-link._0.w--current:hover{
  	background:#faecf3;
  }
</style>