{% section 'banner-community' %}

<style>
  @media screen and (max-width: 768px){
    .colored-box-1.yellow {
      background-color: rgb(251, 217, 0);
    }
  }
</style>

<div id="Team" class="content-section sprinkles less-padding plan-event-content-sec">
    <div class="content-wrapper w-container" style="text-align:left;">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth boxes-block-sec">
     
      <!-- <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div> -->

      <!--{% if page.content.size > 0 %}
        <div class="rte">
          {{ page.content }}
        </div>
      {% endif %} -->

      
      
  </div>
</div>




{% section "community-section" %}
