{% section 'banner-celebrate-with-us' %}


<div id="Team" class="content-section">
  <div class="content-wrapper w-container">
    {{ page.content }}
	{% section 'visit-celebrate' %}
  </div>
 </div>
{% section 'visit-celebrate-image' %}

