{% section 'banner-inspiration' %}

<div id="Team" class="content-section _0">
  <div class="w-container">
    {% section 'inspiration-video' %}
    
      {{ page.content }}
      
  </div>
</div>

{% section 'inspirations-template' %}
