{% section 'banner-our-story' %}

{% section 'feature-columns' %}

<div class="page-width story-wrapper">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <!-- <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div> -->
	<div class="container-4 w-container story-container">
      <div class="rte">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>
</div>
