<style>
  
  li, li a, .product-single__title, .hidden-text, .hidden-text p, .product-single__description p, h5 {
    font-family: 'Poppins';
  }
  
  li a {
    font-weight: 400 !important;
  }
  
</style>

{% section 'header-featured-banner' %}


<div id="Team" class="{{ page.handle }} content-section content-pages">
  <div class="content-wrapper w-container">
    <!-- <div class="section-header text-center">
<h1>{{ page.title }}</h1>
</div> -->

    <div class="rte">
<style>
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 32px;
    grid-row-gap: 64px;
  }

  @media only screen and (max-width: 767px) {
    .grid {
      grid-template-columns: 1fr;
    }
  }

  .flex-vertical {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
  }

  .pink-h2 {
    color: #ff007b;
    margin: 0px;
    text-align: center;
    font-size: 24px;
    line-height: 24px;
  }

  .black-h3 {
    color: black;
    margin: 0px;
    text-align: center;
  }

  .pink-button {
    background-color: #ff007b;
    color: white;
    width: 70%;
    font-size: 16px;
    text-align: center;
    padding: 10px;
  }

  @media only screen and (max-width: 767px) {
    .pink-button {
      font-size: 14px;
    }
  }
</style>

<div class="grid">
  
  <div>
    <div class="flex-vertical">
      <h2 class="pink-h2">16 HANDLES EAST VILLAGE</h2>
      <h3 class="black-h3">153 2nd Avenue<br>
New York, NY, 10003</h3>
      <p>
        Mon - Wed // 12:00pm to 10:00pm<br />
        Thurs - Sat // 12:00pm to 11:00pm<br />
        Sun // 12:00pm to 10:00pm
      </p>
      <a href="https://order.16handles.com/location/East-Village" class="pink-button" target="_blank">ORDER DELIVERY</a>
    </div>
  </div>
  
  <div>
    <div class="flex-vertical">
      <h2 class="pink-h2">16 HANDLES CHELSEA</h2>
      <h3 class="black-h3">178 8th Avenue<br>
New York, New York, 10011</h3>
      <p>
        Mon - Wed // 12:00pm to 10:00pm<br />
        Thurs - Sat // 12:00pm to 11:00pm<br />
        Sun // 12:00pm to 10:00pm
      </p>
      <a href="https://order.16handles.com/location/Chelsea" class="pink-button" target="_blank">ORDER DELIVERY</a>
    </div>
  </div>

    <div>
    <div class="flex-vertical">
      <h2 class="pink-h2">16 HANDLES MURRAY HILL</h2>
      <h3 class="black-h3">428 3rd Avenue<br>
New York, New York, 10016</h3>
      <p>
        Mon - Wed // 12:00pm to 10:00pm<br />
        Thurs - Sat // 12:00pm to 11:00pm<br />
        Sun // 12:00pm to 10:00pm
      </p>
      <a href="https://order.16handles.com/location/Murray-Hill" class="pink-button" target="_blank">ORDER DELIVERY</a>
    </div>
  </div>

    <div>
    <div class="flex-vertical">
      <h2 class="pink-h2">16 HANDLES TRIBECA</h2>
      <h3 class="black-h3">155 Chambers Street<br>
New York, New York, 10007</h3>
      <p>
        Mon - Wed // 12:00pm to 10:00pm<br />
        Thurs - Sat // 12:00pm to 11:00pm<br />
        Sun // 12:00pm to 10:00pm
      </p>
      <a href="https://order.16handles.com/location/Tribeca" class="pink-button" target="_blank">ORDER DELIVERY</a>
    </div>
  </div>

    <div>
    <div class="flex-vertical">
      <h2 class="pink-h2">16 HANDLES TIMES SQUARE</h2>
      <h3 class="black-h3">732 7th Ave<br>
New York, New York, 10019</h3>
      <p>
        Mon - Wed // 12:00pm to 10:00pm<br />
        Thurs - Sat // 12:00pm to 11:00pm<br />
        Sun // 12:00pm to 10:00pm
      </p>
      <a href="https://order.16handles.com/location/times-square/pickup/5cde28924f83adba5b8147d7" class="pink-button" target="_blank">ORDER DELIVERY</a>
    </div>
  </div>

    <div>
    <div class="flex-vertical">
      <h2 class="pink-h2">16 HANDLES UPPER EAST SIDE</h2>
      <h3 class="black-h3">1569 2nd Avenue<br>
New York, New York 10028</h3>
      <p>
        Mon - Wed // 12:00pm to 10:00pm<br />
        Thurs - Sat // 12:00pm to 11:00pm<br />
        Sun // 12:00pm to 10:00pm
      </p>
      <a href="https://order.16handles.com/location/UES" class="pink-button" target="_blank">ORDER DELIVERY</a>
    </div>
  </div>

    <div>
    <div class="flex-vertical">
      <h2 class="pink-h2">16 HANDLES UPPER WEST SIDE</h2>
      <h3 class="black-h3">325 Amsterdam Avenue<br>
New York, New York, 10023</h3>
      <p>
        Mon - Wed // 12:00pm to 10:00pm<br />
        Thurs - Sat // 12:00pm to 11:00pm<br />
        Sun // 12:00pm to 10:00pm
      </p>
      <a href="https://order.16handles.com/location/UWS-Amsterdam" class="pink-button" target="_blank">ORDER DELIVERY</a>
    </div>
  </div>
  
</div>
      <br><br>

      
    </div>
  </div>
</div>


