{% section 'banner-class-schedules' %}
<div id="Team" class="content-section class-shedule-sec-content" style="padding-top:50px;">
    <div class="content-wrapper w-container">
      {{ page.content }}
	</div>
   <div class="content-wrapper div-container">
      <p>&nbsp;</p>
     <div class="rte">
              
              <div class="banner2 w-clearfix">
                <h3 class="heading on-lines" style="font-weight: 600;">{{page.title}}</h3>
                <div class="lines"></div>
              </div>
            </div>
     <div class="row-13 w-row" >
       <div class="schedle_class">
          <div class="w-col w-col-8">
            <div class="row-14 w-row " style="margin-bottom:0px;">
              {% section 'class-monthly-schedules' %}
             </div>
            </div>
            <div class="w-col w-col-4 schedle_class_images">
            {% section 'class-schedule' %}
            </div>
         </div>
      </div>
      
      <div class="contact-row auto w-row">
      {% section 'class-schedules-bottom-content' %}
      </div>
  </div>
</div>
{% comment %}
<div class="container class-shedule-calendar-block">
<div class="eca-app-container" data-widgetuuid="d4183716-f9d6-4153-a82f-07abf848cafa" style="width:"></div>
</div>
<script>(function () {
window.eventCalId=2344;
var integrationScript = document.createElement("script");
integrationScript.async = 1;
integrationScript.setAttribute("src", "https://api.eventcalendarapp.com/integration-script.js");
document.head.appendChild(integrationScript);
if (window.eventCalendarAppUtilities) { window.eventCalendarAppUtilities.init("d4183716-f9d6-4153-a82f-07abf848cafa");}})();
</script>
{% endcomment %}

