<style>
  .team-member-text > p
  {
     font-size: 13px;
  }
  .title.tiny, .team-member-text > p
  {
    font-family: 'Poppins';
  }
</style>
{% section 'banner-all-flavors' %}

<div id="Team" class="content-section more-padding">
    <div class="cookie-div">
<div class="content-wrapper w-container">
{% section 'all-flavors' %}
  

  
{% section 'all-flavors-bottom-links' %}
      </div></div>

  {{ page.content }}
</div>