{% section 'header-featured-banner' %}
<style>

	.cookie {
        position: relative;
        left: 0px;
        top: 0;
        right: 0px;
        margin-bottom: 25px;
    }
  .cookie-image{
  	max-width:100%;
    width:100%;
    border-radius:0px;
  }
  .team-member-box.side-border.last{height:inherit; padding:0px; min-height:auto; border:0px;}
  
  .team-member-box._25:after,
  .team-member-box.side-border.last:after{
  	content:"";
    display:table;
    clear:both;
  }
  .team-member-box._25 {
    position: relative;
    width: 31%;
    margin: 0% 1% 25px;
	vertical-align: top;
    height: initial;
    min-height:550px;
  }
  
  .team-member-text p:empty{
  	display:none;
  }
  .team-member-text > .retired{
  	font-family: 'Conv_Replica-Light';
    font-size: 14px;
  }
  .cookie{overflow:hidden;}
  .team-member-box._25:hover .cookie-image{
  	transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  .cookie-image{
  	-webkit-transition: all 1s;
	transition: all 1s;
  }
  .content-section{
  	padding-bottom:0px;
  }
  .inspiration-section{
  	padding-bottom:50px;
  }
  .tab-div{
  	align-items: baseline;
  }
  .title.tiny{
  	font-size: 22px;
    margin-bottom: 15px;
  }
  @media screen and (max-width:993px){
    .team-member-box.side-border.last{
    	min-height: 460px;
    }
    .team-member-box._25 {
        width: 48%;
      	max-width: 280px;
    }
  }
  @media screen and (max-width:766px){
    .team-member-box.side-border.last{
    	min-height: inherit;
    }
  }
  
  @media screen and (max-width:766px){
    .team-member-box.side-border.last{
    	min-height: auto;
    }
    .team-member-box._25 {
        max-width:280px;
    }
  }
  @media screen and (max-width:580px){
    .team-member-box._25 {
        width: 98%;
      	display:block;
        max-width:280px;
      	min-height:auto;
    }
  }
  
  .team-member-text > p
  {
   	font-family: 'Poppins' !important;
  }
  @media screen and (min-width: 768px){
    .store-menu-items{display: flex;}
  }
</style>
<div id="Team" class="{{ page.handle }} content-section content-pages" style="padding-bottom: 70px;">
  <div class="content-wrapper w-container">
    <!-- <div class="section-header text-center">
<h1>{{ page.title }}</h1>
</div> -->

    <div class="rte">
      {{ page.content }}
    </div>
    <img style="max-width:100%; height: auto;" src="https://cdn.shopify.com/s/files/1/2509/8354/files/Catering_Catalog-01.jpg?v=1613667492" alt="cookieDO" />
    <!-- Catering and store menu are reversed**** -->
    <!--{ section 'store-menu-flavors' %} -->
  </div>
</div>
{% section 'store-menu' %}


<!--- snipt code -->


<h2 class="box-heading-bold bottom padding" style="color:rgb(255, 0, 123)">join our</h2>

<h2 class="box-heading-bold curly" style="color:rgb(255, 0, 123);line-height: 65px;">catering newsletter</h2>

<div style="max-width:420px;margin-left:auto;margin-right:auto;">
<div class="klaviyo-form-HVsZGc"></div>
</div>

{% comment %}

<!-- Begin Mailchimp Signup Form -->

<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">

<style type="text/css">

	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif;max-width: 420px;
position: relative;
margin-right: auto;
margin-left: auto; }

	/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.

	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */

</style>

<div id="mc_embed_signup">

<form action="https://cookieDOnyc.us9.list-manage.com/subscribe/post?u=6ba1afa9544618331a476a4a0&amp;id=cd33c298bb" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">

    <div id="mc_embed_signup_scroll">

	

<div class="mc-field-group">

	<label for="mce-EMAIL">Email Address </label>

	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">

</div>

	<div id="mce-responses" class="clear">

		<div class="response" id="mce-error-response" style="display:none"></div>

		<div class="response" id="mce-success-response" style="display:none"></div>

	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->

    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6ba1afa9544618331a476a4a0_cd33c298bb" tabindex="-1" value="" ></div>

    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"  style="color:rgb(255, 255, 255);background-color:rgb(255,0,123)"></div>

    </div>

</form>

</div>

	<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='MMERGE5';ftypes[5]='text';fnames[6]='MMERGE6';ftypes[6]='text';fnames[7]='MMERGE7';ftypes[7]='text';fnames[8]='MMERGE8';ftypes[8]='text';fnames[9]='MMERGE9';ftypes[9]='text';fnames[10]='MMERGE10';ftypes[10]='text';fnames[11]='MMERGE11';ftypes[11]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->
{% endcomment %}