{% section "banner-locations-hours" %}

<div id="Team" class="content-section content-pages">
  <div class="content-wrapper w-container">
    <!-- <div class="section-header text-center">
<h1>{{ page.title }}</h1>
</div> -->

    <div class="rte">
      {{ page.content }}
    </div>
  </div>
</div>


{% section "location-hourrse" %}

